.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.game-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.game-board {
  flex: 3; /* הקצה יותר שטח ללוח המשחק */
  padding: 20px;
}

.player-form {
  flex: 1; /* הקצה פחות שטח לטופס */
  padding: 20px;
  text-align: left; /* מיוחד לטופס */
  border-left: 2px solid #ddd; /* הוספת גבול להפרדה בין הלוח לטופס */
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mb-4{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-control{
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.winner-screen {
  text-align: center;
  margin-top: 50px;
  font-family: "Arial", sans-serif;
}

.winner-screen h1 {
  font-size: 3em;
  color: #ff5733; 
}

.winner-screen h2 {
  font-size: 2em;
  color: #4caf50; 
}

.winner-screen button {
  margin-top: 20px;
  font-size: 1.5em;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.card.flipped {
  background-color: #937a17;
  color:white;
}
